:root {
    --logo: #b9f4ff;
    --main-color: #2696E8;
    --main-color-light: #b9e2ff;
    --main-color-dark: #0160a3;
    --grey: rgb(230, 230, 230);
    --grey-light: rgb(248, 248, 248);
    --grey-dark: rgb(192, 192, 192);
    --red: #FF5631;
    --red-light: #ffe8e3;
    --green: #00d87e;
    --green-light: #cefde9;
    --yellow: #ffdb67;
}